.messageContainer {
    width: auto;
    height: 30px;

    display: flex;
    align-items: center;
    padding: 10px;

    border: 1px solid;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 55px;
}